body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  h1 {
    color: black;
  }
  
  .display-4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }

  .lead {
    color: #ffffff; /* Branco */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
  }

  
  .hero-section a {
    background-color: #d60708;
    border-color: #d60708;
  }
  
  .price {
    font-weight: bold;
    font-size: 1.2rem;
  }
  